__pychache__
HSL/.ipynb_checkpoints/Handshape-checkpoint.py
HSL/.ipynb_checkpoints/Visualization-checkpoint.py
dict/__pychache__
django_project/__pychache__/
dict/static/dict/js/H03_about.mp4
signlib/.ipynb_checkpoints/
signlib/Arcon.otf
HSL/__pychache__/
signlib/__pychache__/
dict/static/dict/videos/
django_project/pose_dictionary/
./dict/static/dict/videos/
./django_project/pose_dictionary/
/django_project/output/